@{
    ViewData["Title"] = "Listagem de contatos";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-outline-primary" role="button">Adicionar novo contato</a>
    </div>
    <h1 class="display-4">Listagem de contatos</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Celular</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto@gmail.com</td>
                <td>98765-4321</td>
                <td>
                    <a class="btn btn-outline-warning">Editar</a>
                    <a class="btn btn-outline-danger">Excluir</a>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton@gmail.com</td>
                <td>98765-4321</td>
                <td>
                    <a class="btn btn-outline-warning">Editar</a>
                    <a class="btn btn-outline-danger">Excluir</a>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry the Bird</td>
                <td>Larry@gmail.com</td>
                <td>98765-4321</td>
                <td>
                    <a class="btn btn-outline-warning">Editar</a>
                    <a class="btn btn-outline-danger">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>