html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Estilos para o modo claro */
.modo-claro {
    background-color: #ffffff;
    color: #000000;
}

/* Estilos para o modo escuro */
.modo-escuro {
    background-color: #2c3e50;
    color: #ffffff;
}
