@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo, @Model.Nome</h1>
    <p>Este é o começo de um site.</p>
    <spam>Seu email é: @Model.email</spam>
</div>
